* {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
}

body {
    height: 100vh;
    /* background: linear-gradient(to bottom, #000033, #224997); Gradiente de azul escuro para azul médio */
    background: linear-gradient(to right, #8c00fe, #fedc00);
    display: flex;
    flex-direction: column;   
}

body::before {
    filter: blur(2px); /* Pequeno blur */
    z-index: -1; /* Colocar o fundo atrás do conteúdo */
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px 70px ;
    grid-area: content;
    z-index: 77;
    width: 100vw;
    place-self: start center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

header .title {
  font-size: 2rem;
  font-weight: 500;

  &:hover{
    cursor:pointer;
  }

}

.title::before {
  content: "<";
  font-size: 2rem;
  color: #8c00fe;
  font-weight: 700;
}

.title::after {
  content: "/>";
  font-size: 2rem;
  color: #fedc00;
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 72px;
  font-size: 1.25rem;
}

.fas.fa-home {
    position: fixed; /*Não sei se coloca fixed ou absolute, seria legal fazer um menu ali na esquerda, mas só se for rolar a tela */
    /* top: 52px;  */
    right: 69px;
    font-size: 22px; 
}

.content {
    flex: 1;   
}

.images{
    margin-top: 80px;
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

img {
    width: 15em;
    height: 15em; 
    border-radius: 50%; 
    object-fit: cover;
    border: 1px solid #c4c4c4; 
}

/* .Lelet img {
    border: 2px solid #c4c4c4;

    &:hover{
        box-shadow: 0 0 10px 5px rgba(196, 196, 196, 0.5);
    }
}

.Rodriguinho img {
    border: 2px solid black;

    &:hover{
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }
} */

img:hover {  
    box-shadow: 0 0 10px 5px rgba(196, 196, 196, 0.5);
    transition: box-shadow 0.4s ease; 
}


.Lelet, .Rodriguinho{
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: transform 0.3s ease;

    span{
        font-size: 22px;
        font-weight: 500;
    }

    &:hover{
        transform: scale(1.1);
    }
}

.images .fa-heart{
    font-size: 56px;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2); 
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    font-style: italic
    
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    header .title {
        font-size: 1.5rem; 
    }

    header .title::before, header .title::after {
        font-size: 1.5rem; 
    }

    .fas.fa-home {
        font-size: 20px; 
    }

    .images {
        height: min-content;    
        flex-direction: column;
        gap: 20px; 
    }

    img {
        width: 12em; 
        height: 12em;
    }

    .images .fa-heart {
        font-size: 36px; 
    }

    footer {
        font-size: 0.8rem;
      }
    
    body {
        overflow-x: hidden;
    }
  }
  