.contatos {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    'tittle tittle tittle'
    'contato social link';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.contato-container {
  grid-area: contato;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contato-container h3 {
  font-size: 1.5rem;
}

.contato-item {
  display: flex;
  gap: 12px;
}

.contato-item__icon {
  font-size: 1.25rem;
}

.social-container {
  grid-area: social;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.social-container {
  margin: auto;
  width: fit-content;
}

.icone {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  line-height: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}

.github {
  color: black; /*Icone Preto*/
}
.linkedin {
  color: #0077b5; /*Icone azul*/
}

.icone:hover {
  transform: scale(1.10); /* Transforma o ícone em branco + aumenta em 10%*/
  color: white;
}

.linkedin:hover {
  background-color: #0077b5; /* Transforma o fundo pra azul*/
}
.github:hover { /* Transforma o fundo pra preto*/
  background-color: black;
}


.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
} 
.logo {
  font-size: 1.5rem;
}

.logo::before {
  content: "<";
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
}

.logo::after {
  content: "/>";
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
}
.menu {
  display: flex;
  gap: 72px;
  font-size: 1.25rem;
}

.menu li {
  border-bottom: 4px solid transparent;
  transition: border-color 0.25s;
}

.menu li:hover {
  border-color: var(--primary-color);
}
.projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.card-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}

.card {
  position: relative;
  display: block;
  overflow: hidden;
}

.card::before {
  position: absolute;
  background-color: #0009;
  content: 'Clique aqui para abrir o projeto';
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  transform: translateY(100%);
  transition: transform 0.6s;
}

.card:hover::before {
  transform: translateY(0%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ul, li {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}
.section__tittle {
  grid-area: tittle;
  font-size: 220px;
  text-align: center;
  background: linear-gradient(#444, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sobre-mim {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'tittle tittle'
    'description skills';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description__tittle {
  font-size: 48px;
  color: var(--primary-color);
}

.description__text {
  font-size: 1.5rem;
  width: 85%;
  line-height: 150%;
}

.skills {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.skills__tittle {
  font-size: 48px;
  color: var(--primary-color);
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skills__icon {
  width: 150px;
  height: 150px;
  background-color: var(--icon-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.skills__icon i {
  font-size: 3rem;
}

.skills__icon span {
  font-weight: 700;
  font-size: 1.5rem;
}
:root {
  --primary-color: #fedc00;
  --icon-color: #252525;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #000;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  grid-area: content;
  z-index: 77;
  max-width: 1200px;
  width: 100%;
  margin-top: 48px;
  place-self: start center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

section {
  height: 100vh;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  grid-area: content;
  place-self: end;
  display: grid;
  place-content: center;
  border-top: 2px solid white;
  font-size: 0.75rem;
  font-style: italic;
}

@media (max-width: 960px) {
  nav {
    display: none;
  }
  header {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
  }

  body {
    max-width: 960px;
  }

  .home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .section__tittle {
    font-size: 10rem;
  }

  .profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 60px;
  }

  .sobre-mim {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 48px;
  }

  .skills {
    width: 75%;
  }

  .skills__container {
    gap: 48px;
  }

  .description__text {
    width: 450px;
  }

  .projetos {
    height: 450vh;
    display: flex;
    flex-direction: column;
  }
  .card-container {
    flex-wrap: wrap;
    width: 85%;
  }

  .card-container img {
    width: 85vw;
  }
  .contatos {
    display: flex;
    flex-direction: column;
    height: 110vh;
    gap: 48px;
  }

  .contato-container {
    display: flex;
    align-items: center;
  }

  .link-container {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 640px) {
  body {
    width: 100%;
  }

  header {
    max-width: 400px;
    width: 100%;
  }

  .home {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .profile__text {
    font-size: 2rem;
  }

  .section__tittle {
    font-size: 4.5rem;
  }

  .description__tittle {
    font-size: 3.5rem;
  }

  .skills__tittle {
    font-size: 3.5rem;
  }

  .sobre-mim {
    height: 250vh;
    display: flex;
    align-items: center;
    gap: 124px;
  }

  .skills__container {
    justify-content: center;
  }

  .projetos {
    height: 220vh;
    display: flex;
    align-items: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .contatos {
    height: 100vh;
  }

  .social-container {
    flex-direction: column;
  }
}