* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar { 
  width: 12px;   /*width of the entire scrollbar*/  
} 

body::-webkit-scrollbar-track { 
    background: #dedede;  /*color of the tracking area*/  
} 

body::-webkit-scrollbar-thumb { 
    background-color: gray;  /*color of the scroll thumb*/  
    border-radius: 20px;  /*roundness of the scroll thumb */ 
    border: 3px solid #dedede;  /*creates padding around scroll thumb*/  
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #000;
}

header {
  background-color: rgb(0, 0, 0, 0.2);
  padding: 30px 70px ;
  grid-area: content;
  z-index: 77;
  width: 100vw;
  place-self: start center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}


.logo {
  font-size: 1.5rem;
}

.logo::before {
  content: "<";
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
}

.logo::after {
  content: "/>";
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
}
.menu {
  display: flex;
  gap: 72px;
  font-size: 1.25rem;
}

.menu li {
  border-bottom: 4px solid transparent;
  transition: border-color 0.25s;
}

.menu li:hover {
  border-color: var(--primary-color);
}


.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../assets/rodrigo/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
} 


.sobre-mim {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-areas:
    'tittle tittle'
    'description skills';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  margin-bottom: 70px;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description__tittle {
  font-size: 48px;
  color: var(--primary-color);
}

.description__text {
  font-size: 1.5rem;
  width: 85%;
  line-height: 150%;
}

.skills {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.skills__tittle {
  font-size: 48px;
  color: var(--primary-color);
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skills__icon {
  width: 140px;
  height: 140px;
  background-color: var(--icon-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.skills__icon i {
  font-size: 3rem;
}

.skills__icon span {
  font-weight: 700;
  font-size: 1.5rem;
}


.projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.card-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.card {
  position: relative;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card::after {
  transition: opacity 0.3s ease;
}

.card figcaption {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  margin-top: 10px;
}


.btn{
  background-color: #fedc00;
  padding: 15px;
  border: none;
  border-radius: 15px;
  color:#000;
  font-size: 18px;

  &:hover{
    background-color: rgb(254, 220, 0, 0.5);
    cursor: pointer;
  }
}

.contatos {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    'tittle tittle tittle'
    'contato social link';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.contatos .section__tittle{
  margin-top: 12%;
}

.contato-container {
  grid-area: contato;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contato-container h3 {
  font-size: 1.5rem;
}

.contato-item {
  display: flex;
  gap: 12px;
}

.contato-item__icon {
  font-size: 1.25rem;
}

.social-container {
  grid-area: social;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.social-container {
  margin: auto;
  width: fit-content;
}

.icone {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  line-height: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
  border: 2px solid #d3d3d3;
}

.github {
  color: black; /*Icone Preto*/
}
.linkedin {
  color: #0077b5; /*Icone azul*/
}

.icone:hover {
  transform: scale(1.10); /* Transforma o ícone em branco + aumenta em 10%*/
  color: white;
}

.linkedin:hover {
  background-color: #0077b5; /* Transforma o fundo pra azul*/
}
.github:hover { /* Transforma o fundo pra preto*/
  background-color: rgb(0, 0, 0);
}


footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  grid-area: content;
  place-self: end;
  display: grid;
  place-content: center;
  border-top: 2px solid white;
  font-size: 0.75rem;
  font-style: italic;
}


:root {
  --primary-color: #fedc00;
  --icon-color: #252525;
}

ul, ul, li {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  height: 100vh;
}

.section__tittle {
  grid-area: tittle;
  font-size: 170px;
  text-align: center;
  background: linear-gradient(#444, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


@media (max-width: 768px) { 
  header {  
    padding: 15px 20px;  
  } 
   
  .logo { 
    font-size: 1.2rem;  
  } 
   
  .menu { 
    display: none;  
  } 
   
  .home { 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  } 
   
  .profile { 
    margin: 0;
    display: flex;
    flex-direction: column;  
  } 

  .profile__foto{
    height: 120px;
  }
     
  .profile__text { 
    font-size: 1.4rem;  
  } 
 
  .profile__name { 
    font-size: 2.8rem;  
  } 

  .sobre-mim { 
    grid-template-areas: "tittle" "description" "skills"; 
    grid-template-columns: 1fr; 
  } 

  .description{
      margin: 0px 15px;
  }

  .description__tittle, .skills__tittle { 
    font-size: 2.5rem; 
  } 
  .description__text { 
    width: auto; 
  } 

  .skills, .skills__container {     
    align-items: center;
    justify-content: center;
     /* Centraliza os ícones de habilidades */ 
  } 
 
  .projetos { 
    margin-top: 8rem; /* Adiciona margem superior */ 
  }
   
  /* Responsividade para as imagens dos projetos */ 
  .card img { 
    max-width: 100%;
  }
/* Responsividade para as imagens dos projetos */ 
  .card img { 
    max-width: 100%; /* Garante que as imagens não ultrapassem o container */ 
    height: auto;  /* Mantém a proporção da imagem */ 
  } 

  .contatos { 
    grid-template-areas: "tittle" "contato" "social" "link"; 
    grid-template-columns: 1fr; 
  } 

  .section__tittle { 
    font-size: 4em; 
  } 
  .card-container { 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: -50px; 
    width: 80%; 
  } 

  .contatos { 
    margin-top: 4rem; /* Adiciona margem superior */
  } 

  .contato-container{
    margin-bottom: 300px;
    align-items: center;
  } 
}