* {
    margin: 0px;
    font-family: Raleway;
    color:aliceblue;
}

body {
    height: 100vh;
    /* background: linear-gradient(to bottom, #000033, #224997); Gradiente de azul escuro para azul médio */
    background: linear-gradient(to bottom, #023300, #1d7015);
    display: flex;
    flex-direction: column;   
}

body::before {
    filter: blur(2px); /* Pequeno blur */
    z-index: -1; /* Colocar o fundo atrás do conteúdo */
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.title{
    margin-top: 40px;
}

.content {
    flex: 1;   
}

.images{
    padding-top: 38px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}

img{
    width: 15em;
    height: 20em;
    border-radius: 15px;
}

.Lelet, .Rodriguinho{
    display: flex;
    flex-direction: column;
}

footer {
    
    /* background-color: rgb(1, 27, 80, 0.5); Tom de azul combinando com o gradiente */
    background-color: rgba(10, 80, 1, 0.5); 
    color: white;
    text-align: center;
    padding: 10px 0;
    
    

    
}
